<!doctype html>

<html lang="en">
   
   
    <head>
       
       
        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       
        <!-- PAGE TITLE -->
        <title>All the Veggies!</title>
       
        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">
       
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
       
        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        
        
    </head>

   
    <body>
    
       
       
        <!-- PRELOADER -->
        <div class="preloader">
           
            <div class="spinner"></div>
            
        </div>
        <!-- /PRELOADER -->
        
        
        
        <!-- NAVIGATION -->
        <nav class="navigation-main">


            <!-- CONTAINER FLUID -->
            <div class="container-fluid">


                <!-- NAVIGATION HEADER -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="/"><img class="img-responsive" src="/img/navigation-logo.png" alt="" /></a>

                </div>
                <!-- /NAVIGATION HEADER -->


                <!-- NAVBAR -->
                <div id="navbar" class="navbar-collapse collapse">


                    <!-- MENU ITEMS LIST -->
                    <ul class="navigation-items nav navbar-nav navbar-right">


                        {{!-- <li class="current"><a href="#intro">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#contact">Contact</a></li> --}}


                    </ul>
                    <!-- /MENU ITEMS LIST -->


                </div>
                <!-- /NAVBAR -->


            </div>
            <!-- /CONTAINER FLUID -->


        </nav>
        <!-- /NAVIGATION -->
        


        <!-- SERVICE -->
        <section id="service">
        
        
            <!-- CONTAINER FLUID -->
            <div class="container-fluid text-center">


                <h3 class="headline scroll-animated-from-bottom">Select a veggie to see what it can do for you.</h3>
               
                   
                <!-- ASPARAGUS COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-id="3" data-toggle="modal" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/asparagus.jpg" alt="asparagus-image">

               
                </div>
                <!-- /COLUMN -->

                <!-- Asparagus Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">

                        <h5 style = "color:black" class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{!-- MODAL BODY --}}
                    <div class="modal-body">
                        {{!-- AJAX call replaces  --}}
                       <p class="my-modal-body">Health Benefits</p>
                       <div class="modal-healthbens"></div>
                        <p class="my-modal-body">Popular Ways to Eat</p>
                        <div class="modal-popeats"></div>
                        <p class="my-modal-body">Serving Size</p>
                        <div class="modal-serving"></div>
                        <p class="my-modal-body">Calories</p>
                        <div class="modal-calories"></div>
                        <p class="my-modal-body">Total Fat</p>
                        <div class="modal-totalfat"></div>
                        <p class="my-modal-body">Sodium</p>
                        <div class="modal-sodium"></div>
                        <p class="my-modal-body">Potassium</p>
                        <div class="modal-potassium"></div>
                        <p class="my-modal-body">Total Carbohydrates</p>
                        <div class="modal-carbs"></div>
                        <p class="my-modal-body">Dietary Fiber</p>
                        <div class="modal-fiber"></div>
                        <p class="my-modal-body">Sugar</p>
                        <div class="modal-sugar"></div>
                        <p class="my-modal-body">Protein</p>
                        <div class="modal-protein"></div>
                        <p class="my-modal-body">Vitamin A</p>
                        <div class="modal-vitamin-a"></div>
                        <p class="my-modal-body">Vitamin C</p>
                        <div class="modal-vitamin-c"></div>
                        <p class="my-modal-body">Iron</p>
                        <div class="modal-iron"></div>
                    </div>
                    <div class="modal-footer">
                        <div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-btn">Save changes</button>
                    </div>
                    </div>
                </div>
                </div>
                {{!-- /Asparagus Modal --}}


                <!-- Bell Pepper COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                    <img data-toggle="modal" data-id ="4" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/bell_peppers.jpg" alt="bell-pepper-image">
               
                </div>
                <!-- /COLUMN -->

{{!-- ===============================================================================================  --}}


                <!-- Broccoli COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="15" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/broc_chop.jpg" alt="broccoli-image">
               
                </div>
                <!-- /Broccoli COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- CARROT COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="16" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/carrot_btn.jpg" alt="carrot-image">

                </div>
                <!-- /CARROT COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- CAULIFLOWER COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                  <img data-toggle="modal" data-id ="17" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/cauliflower.jpg" alt="cauliflower-image">
               
                </div>
                <!-- /CAULIFLOWER COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- CELERY COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="18" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/celery.jpg" alt="celery-image">

                </div>
                <!-- /CELERY COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- CUCUMBER COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="19" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/cucumber.jpg" alt="cucumber-image">

                </div>
                <!-- /CUCUMBER COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- GREEN BEAN COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="20" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/green_beans.jpg" alt="green-beans-image">

                </div>
                <!-- /GREEN BEAN COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- GREEN CABBAGE COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="21" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/green_cabbage.jpg" alt="green-cabbage-image">

                </div>
                <!-- /GREEN CABBAGE COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- GREEN ONION COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="22" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/green-onions.jpg" alt="green-onion-image">

                </div>
                <!-- /GREEN ONION COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- ICEBERG LETTUCE COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="5" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/iceberg_lettuce.jpg" alt="iceberg-lettuce-image">

                </div>
                <!-- /ICEBERG LETTUCE COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- LEAF LETTUCE COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="6" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/leaf_lettuce.jpg" alt="leaf-lettuce-image">

                </div>
                <!-- /LEAF LETTUCE COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- MUSHROOM COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="7" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/mushrooms.jpg" alt="mushrooms-image">

                </div>
                <!-- /MUSHROOM COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- ONION COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="8" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/onion.jpg" alt="onion-image">

                </div>
                <!-- /ONION COLUMN -->

{{!-- ===============================================================================================  --}}
                
                <!-- POTATO COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="9" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/potato.jpg" alt="potato-image">

                </div>
                <!-- /POTATO COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- EMPTY COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   {{!-- <img data-toggle="modal" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/radish.jpg" alt="image"> --}}

                </div>
                <!-- /EMPTY COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- RADISH COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="10" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/radish.jpg" alt="radish-image">

                </div>
                <!-- /RADISH COLUMN -->

{{!-- ===============================================================================================  --}}

                <!-- SQUASH COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="11" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/squash.jpg" alt="squash-image">

                </div>
                <!-- /SQUASH COLUMN -->   

{{!-- ===============================================================================================  --}}

                <!-- CORN COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="12" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/sweet-corn.jpg" alt="sweet-corn-image">

                </div>
                <!-- /CORN COLUMN -->     

{{!-- ===============================================================================================  --}}

                <!-- SWEET POTATO COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="23" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/sweet_potato.jpg" alt="sweet-potato-image">

                </div>
                <!-- /SWEET POTATO COLUMN -->      

{{!-- ===============================================================================================  --}}

                <!-- GO HOME COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <a href="/"><img class="img-responsive veg_btn" src="/img/veg_btn/home_btn.jpg" alt="home-button-image"></a>

                </div>
                <!-- /GO HOME COLUMN -->     

{{!-- ===============================================================================================  --}}

                <!-- TOMATO COLUMN -->
                <div class="col-md-4 col-sm-6 text-left service-item scroll-animated-from-bottom">

                   <img data-toggle="modal" data-id ="13" data-target="#exampleModal" class="img-responsive veg_btn" src="/img/veg_btn/tomato_button.jpg" alt="tomato-image">

                </div>
                <!-- /TOMATO COLUMN -->                

            </div>
            <!-- /CONTAINER FLUID -->


        </section>
        <!-- /SERVICE -->
      
        
        
        <!-- BACKGROUND CONTENT -->
        <div class="background-content parallax-on">


            <!-- BACKGROUND CONTENT INNER -->
            <div class="background-content-inner">

                <div class="background-overlay"></div>
                <div class="background-img layer" data-depth="0.1"></div>

            </div>
            <!-- /BACKGROUND CONTENT INNER -->


        </div>
        <!-- /BACKGROUND CONTENT -->
        
        
        
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="/js/plugins.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/view.js"></script>
   
   
   
    </body> 
    
    
</html>