/** 3. Background Content
*******************************************************************/

.background-content
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;

    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transform: translate3d(-50%,0,0) !important;
            transform: translate3d(-50%,0,0) !important;
}

.background-content-inner
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 110%;
    height: 110%;

    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.background-content .background-img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(/img/background_bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MODAL stylin' */
.my-modal-body {
    font-weight: bold;
}

.modal-body {
    color: black;
}

.save-btn {
    background-color: rgb(23, 120, 20);
}

.save-btn:hover {
    background-color: rgb(20, 82, 18);
}

.save-btn:focus {
    background-color: rgb(20, 82, 18);
}

.btn-primary {
    border-color: rgb(20, 82, 18);
}

.btn-secondary { 
    background-color: rgb(32, 140, 28);
    border-color: rgb(20, 82, 18);
}

.btn-secondary:hover {
    background-color: rgb(20, 82, 18);
    color: white;
}